.header-info-container{
    background-color: white;
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 20px rgb(156, 156, 156);
}

.header-info-container h1 {
    background-color: white;
    padding-bottom: 10px;
}
.header-info-container h3 {
    background-color: white;
    padding-bottom: 35px;
}