.header-info-container{
    background-color: white;
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
}

.header-info-container h1 {
    background-color: white;
    padding-bottom: 10px;
}
.header-info-container h3 {
    background-color: white;
    padding-bottom: 50px;
}